/* 全体枠 */
.detail {
    width: 60%;
    margin: 0 auto;
}

.detail-form {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.detail-form__image {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 画像および商品情報 */
.product-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__name-label,
.product__price-label,
.product__season-label {
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: #4b4b4b;
}

.product__input-name,
.product__input-price {
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 11px 10px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
}

.season-container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.season-option {
    display: flex;
    align-items: center;
}

.season-checkbox {
    display: none;
}

.season-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin-right: 12px;
}

.season-checkbox:checked+.season-label {
    background-color: black;
}

.season-checkbox:checked+.season-label::after {
    content: "✔";
    color: white;
    font-size: 20px;
    position: absolute;
}

.season-name {
    font-size: 15px;
    white-space: nowrap;
}

/* 商品詳細 */
.detail-form__description {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 20px;
}

.detail-form__description-label {
    font-weight: 300;
    font-size: 16px;
    color: #4b4b4b;
}

.detail-form__input-description {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    margin-top: 20px;
}

/* 戻る、登録ボタン領域 */
.detail-form__button {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.detail-form__back-button {
    width: 200px;
    height: 50px;
    padding: 13px 10px;
    color: #4b4b4b;
    font-weight: 600;
    font-size: 16p;
    background-color: #e0dfde;
    fill: drop-shadow(0px 4px #000000 10%);
}

.detail-form__register-button {
    width: 200px;
    height: 50px;
    padding: 13px 10px;
    color: #4b4b4b;
    font-weight: 600;
    font-size: 16p;
    background-color: #f5c800;
    fill: drop-shadow(0px 4px #000000 10%);
}

.detail-form__delete {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}

.trash-icon {
    width: 20px;
    height: 20px;
}